from tkinter import *
from PIL import ImageTk, Image

# currency values compared to the USD
USD = 1.00
EUR = 0.82
JPY = 104.69
GBP = 0.73
AUD = 1.31
CAD = 1.28
CHF = 0.89
CNY = 6.46
SEK = 8.36
MXN = 20.34
NZD = 1.39
SGD = 1.33
HKD = 7.75
NOK = 8.57
KRW = 1118.00
TRY = 7.27
INR = 72.87
RUB = 75.88
BRL = 5.46
ZAR = 15.11
DKK = 6.13
PLN = 3.73
TWD = 28.02
THB = 29.91
MYR = 4.04

# supported currencies for the drop-down menu
supported_currencies = [
    'USD',
    'EUR',
    'JPY',
    'GBP',
    'AUD',
    'CAD',
    'CHF',
    'CNY',
    'SEK',
    'MXN',
    'NZD',
    'SGD',
    'HKD',
    'NOK',
    'KRW',
    'TRY',
    'INR',
    'RUB',
    'BRL',
    'ZAR',
    'DKK',
    'PLN',
    'TWD',
    'THB',
    'MYR'
]

# making root
root = Tk()
root.title("USD Currency Converter")
root.resizable(0, 0)
# icon photo
icon = PhotoImage(file='C:/Users/16097/Downloads/coin-icon-logo.gif')
root.tk.call('wm', 'iconphoto', root, icon)
# Currency Converter on the top
logo = ImageTk.PhotoImage(Image.open('C:/Users/16097/Downloads/Currency Converter Logo.gif'))
my_logo = Label(image=logo, width=1000, height=150)
my_logo.pack()
# window size
root.geometry('1100x750')
# window background
root.config(bg='white')
# text
text = Label(root, text="Select a currency to convert to:", bg='white')
text.configure(font=("Calibri", 13, "bold"))
text.pack(anchor='w', padx=10, pady=10, ipadx=20, ipady=20)
text2 = Label(root, text="How much money do you have:", bg='white')
text2.configure(font=("Calibri", 13, "bold"))
text2.pack(anchor='w', padx=10, pady=10, ipadx=20, ipady=20)
# drop-down menu
clicked = StringVar()
clicked.set("None")
drop = OptionMenu(root, clicked, *supported_currencies)
drop.place(x=280, y=184)
drop.configure(bg='light gray')
# textbox
textbox = Entry(root, width=50, bg='light gray', fg='black', borderwidth=3)
textbox.place(x=280, y=275)
# convert button
convert_button = Button(root, text="Convert", padx=100, pady=50, bg='light gray', command=lambda: retrieve_input())
convert_button.place(x=720, y=170)
convert_button.configure(font=("Calibri", 16, "bold"))


# close button function
def close_window():
    root.destroy()


# close button
close_button = Button(root, text="Close", padx=40, pady=20, bg='light gray', command=lambda: close_window())
close_button.place(x=500, y=500)


# input retriever for drop menu and textbox
def retrieve_input():
    textbox_value = float(textbox.get())
    drop_value = clicked.get()

# convert USD to selected currency
    if drop_value == 'USD':
        convert_money = Label(root, text=f'you have {textbox_value * USD} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'EUR':
        convert_money = Label(root, text=f'you have {textbox_value * EUR} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'JPY':
        convert_money = Label(root, text=f'you have {textbox_value * JPY} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'GBP':
        convert_money = Label(root, text=f'you have {textbox_value * GBP} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'AUD':
        convert_money = Label(root, text=f'you have {textbox_value * AUD} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'CAD':
        convert_money = Label(root, text=f'you have {textbox_value * CAD} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'CHF':
        convert_money = Label(root, text=f'you have {textbox_value * CHF} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'CNY':
        convert_money = Label(root, text=f'you have {textbox_value * CNY} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'SEK':
        convert_money = Label(root, text=f'you have {textbox_value * SEK} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'MXN':
        convert_money = Label(root, text=f'you have {textbox_value * MXN} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'NZD':
        convert_money = Label(root, text=f'you have {textbox_value * NZD} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'SGD':
        convert_money = Label(root, text=f'you have {textbox_value * SGD} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'HKD':
        convert_money = Label(root, text=f'you have {textbox_value * HKD} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'NOK':
        convert_money = Label(root, text=f'you have {textbox_value * NOK} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'KRW':
        convert_money = Label(root, text=f'you have {textbox_value * KRW} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'TRY':
        convert_money = Label(root, text=f'you have {textbox_value * TRY} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'INR':
        convert_money = Label(root, text=f'you have {textbox_value * INR} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'RUB':
        convert_money = Label(root, text=f'you have {textbox_value * RUB} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'BRL':
        convert_money = Label(root, text=f'you have {textbox_value * BRL} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'ZAR':
        convert_money = Label(root, text=f'you have {textbox_value * ZAR} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'DKK':
        convert_money = Label(root, text=f'you have {textbox_value * DKK} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'PLN':
        convert_money = Label(root, text=f'you have {textbox_value * PLN} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'TWD':
        convert_money = Label(root, text=f'you have {textbox_value * TWD} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'THB':
        convert_money = Label(root, text=f'you have {textbox_value * THB} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)

    if drop_value == 'MYR':
        convert_money = Label(root, text=f'you have {textbox_value * MYR} {drop_value}', padx=200)
        convert_money.configure(font=("Calibri", 50, "bold"))
        convert_money.place(x=100, y=400)


root.mainloop()
